@import 'bootstrap';
@import 'bootstrap-icons';
@import 'navbar.css';
@import 'home.css';
@import 'footer.css';
@import 'who.css';
@import 'portfolio.css';
@import 'modal1.css';

:root{
    --main: #E8E5E1;
    --sec: #333;
    --acc: #FF7300;
    --bg: #BAB0A6;
    --fm: "Jost", sans-serif;
    --fs: "Indie Flower", cursive;
}

body{
    background: var(--main);
    
}
