@import 'bootstrap';
@import 'bootstrap-icons';
@import 'navbar.css';
@import 'home.css';

:root{
    --main: #E8E5E1;
    --sec: #333;
    --fm: 'Ubuntu Mono', monospace;
}

body{
    background: linear-gradient(to left,#3333335d,transparent,transparent),var(--main);
    height: 200vh;
}