.header-home{
    height: 155vh;
    background:url(/public/media/motivologo.png) no-repeat;
    background-size: 100% 100%;
}

.sec1{
    /* height: 100vh; */
    /* background:url(/public/media/motivo1.png);
    background-size: 100% 100%; */
    background: linear-gradient(to bottom, var(--bg), var(--main));
}

.sec2{
    height: 100vh;
    background: url(/public/media/motivo4.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
}



.scuro{
    background: var(--bg);
    height: 100%;
}

.btn-link,.btn-link:hover,.btn-link:active,.btn-link:focus{
    font-family: var(--fm);
    color: var(--acc);
    text-decoration: none;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 2px var(--acc) solid;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 2px var(--acc);
}

.pres{
    width: 800px;
}

.mockup{
    width: 350px;
}

.arrow-portfolio{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: -100px;
}

.portfolio-link{
    color: var(--acc);
    position: absolute;
    top: 40%;
    right: -166px;
    font-size: 25px;
    font-family: var(--fm);
    letter-spacing: 2px;
}

.tit1{
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 1px;
    font-size: 40px;
}

.p1{
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.profilo{
    width: 400px;
    border-bottom: var(--acc) solid 3px;
}

.who-link{
    position: absolute;
    bottom: 20px;
    left: 145px;
}

.bg-loghi{
    background:#e8e5e191;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: solid 1px var(--bg);
    box-shadow: #9b9389be 0px 0px 7px 1px;
}

.grafic-web{
    width: 500px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}

.grafic-web1{
    width: 400px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}


/* media query tablet */


@media screen and (min-width: 600px) and (max-width: 1024px){
    
    .pres{
        margin-top: 100px;
        margin-bottom: 50px;
        width: 700px;
    }

    .header-home{
        height: 105vh;
        background:url(/public/media/motivologo.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .grafic-web{
        width: 300px;
        box-shadow: #7c766dbe 0px 0px 20px 4px;
    }

    .p1{
        margin-top: 10px!important;
        width: 400px;
        font-family: var(--fm);
        color: var(--sec);
        letter-spacing: 1px;
        font-size: 18px;
        padding: 0!important;
        width: 100%;
    }

    .tit1{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .profilo{
        width: 350px;
    }

    .sec2{
        height: 60vh;
        background: url(/public/media/motivo4.png) no-repeat;
        background-size:contain;
        background-position: bottom;
    }

}