.header{
    height: 100vh;
}

.banner{
    height: 100vh;
    margin-top: 20vh;
    /* background: url(/public/media/gig.png) no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    background-attachment: fixed; */
}

.titolo{
    color: var(--sec);
    font-family: var(--fm);
    font-size: 160px;
    letter-spacing: 10px;
}

.btn-link,.btn-link:hover,.btn-link:active,.btn-link:focus{
    font-family: var(--fm);
    color: var(--sec);
    text-decoration: none;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 3px var(--sec) solid;
    border-radius: 30px;
    font-size: 25px;
}

/* .gig{
    width: 400px;
} */