.header-home{
    height: 155vh;
    background:url(/public/media/motivologo.png) no-repeat;
    background-size: 100% 100%;
}

.sec1{
    /* height: 100vh; */
    /* background:url(/public/media/motivo1.png);
    background-size: 100% 100%; */
    background: linear-gradient(to bottom, var(--bg), var(--main));
}

.sec2{
    height: 100vh;
    background: url(/public/media/motivo4.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
}



.scuro{
    background: var(--bg);
    height: 100%;
}

.btn-link,.btn-link:hover,.btn-link:active,.btn-link:focus{
    font-family: var(--fm);
    color: var(--acc);
    text-decoration: none;
    background: transparent;
    backdrop-filter: blur(3px);
    border: 2px var(--acc) solid;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 2px var(--acc);
}

.pres{
    opacity: 0;
    width: 800px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.pres{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

@-webkit-keyframes bounce-in {
    0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
    50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes bounce-in {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }

.mockup{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
    transform: scale(0.5);
    width: 350px;
}

.in-page .mockup{
    opacity: 1;
    transform: scale(1);
}

.arrow-portfolio{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: -100px;
}

.in-page .arrow-portfolio{
    opacity: 1;
}

.portfolio-link{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    color: var(--acc);
    position: absolute;
    top: 40%;
    right: -166px;
    font-size: 25px;
    font-family: var(--fm);
    letter-spacing: 2px;
}

.in-page .portfolio-link{
    opacity: 1;
}

.tit1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 1px;
    font-size: 40px;
}

.p1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(50px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.in-page.tit1,.in-page.p1{
    opacity: 1;
    transform: translateY(0);
}

.profilo{
    width: 400px;
    border-bottom: var(--acc) solid 3px;
}

.who-link{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.8s;
    position: absolute;
    bottom: 20px;
    left: 145px;
}

.in-page .who-link{
    opacity: 1;
}

.bg-loghi{
    background:#e8e5e191;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: solid 1px var(--bg);
    box-shadow: #9b9389be 0px 0px 7px 1px;
}

.grafic-web{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 500px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}

.in-page.grafic-web{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}

.grafic-web1{
    width: 400px;
    box-shadow: #7c766dbe 0px 0px 20px 4px;
}

.prof-anim{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.in-page.prof-anim{
    opacity: 1;
    -webkit-animation:bounce-in 1s ease 0s 1 normal;
    -moz-animation:bounce-in 1s ease 0s 1 normal;
    -ms-animation:bounce-in 1s ease 0s 1 normal;
    animation:bounce-in 1s ease 0s 1 normal;
}


/* media query tablet */


@media screen and (min-width: 600px) and (max-width: 1024px){
    
    .pres{
        margin-top: 100px;
        margin-bottom: 50px;
        width: 700px;
    }

    .header-home{
        height: 105vh;
        background:url(/public/media/motivologo.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .grafic-web{
        opacity: 0;
        transition: 0.5s;
        transform: scale(0.5);
        width: 300px;
        box-shadow: #7c766dbe 0px 0px 20px 4px;
    }
    
    .in-page.grafic-web{
        opacity: 1;
        transform: scale(1);
    }

    .p1{
        margin-top: 10px!important;
        width: 400px;
        font-family: var(--fm);
        color: var(--sec);
        letter-spacing: 1px;
        font-size: 18px;
        padding: 0!important;
        width: 100%;
    }

    .tit1{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .profilo{
        width: 350px;
    }

    .sec2{
        height: 60vh;
        background: url(/public/media/motivo4.png) no-repeat;
        background-size:contain;
        background-position: bottom;
    }

    .prof-anim{
        transform: scale(0.5);
    }
    
    .in-page.prof-anim{
        transform: scale(1);
    }
}

/* mobile */

@media screen and (max-width: 599px){
    .pres{
        margin-top: 100px;
        margin-bottom: 50px;
        width: 350px;
    }

    .mockup{
        width: 250px;
    }

    .arrow-portfolio{
        display: none;
    }

    .portfolio-link{
        position: absolute;
        top: 130%;
        right: 22%;
    }

    .header-home{
        height:110vh;
        background-size: contain;
        background-position: bottom;
    }

    .mobile-row{
        display: flex;
        flex-direction: column-reverse;
    }

    .p1{
        margin: 0!important;
        padding: 0!important;
    }

    .grafic-web{
        width: 300px;
        box-shadow: #7c766dbe 0px 0px 20px 4px;
    }

    .profilo{
        margin-top: 0!important;
        width: 300px;
    }

    .sec2{
        height: 120vh;
        background: url(/public/media/motivo4.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .who-link{
        position: absolute;
        bottom: 20px;
        left: 80px;
    }

    .prof-anim{
        transform: scale(0.5);
    }
    
    .in-page.prof-anim{
        transform: scale(1);
    }
}