:root{
    --modm1:#FFF500;
    --mods1:black;
    --modt1:white;
    --fm1:"Bree Serif", serif;
    --modbg1: #262626;
}


.nav-mod1{
    height: 10vh;
}

.bgmod1{
    background: var(--mods1);
}

.sec-h-mod1{
    height: 70vh;
}

.header-mod1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.555),transparent,rgba(0, 0, 0, 0.555),rgba(0, 0, 0, 0.788)),url(/public/modal1/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.menu-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    color: var(--modm1);
    padding-right: 30px;
}

.logo-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    padding-left: 30px;
    color: var(--modm1);
    font-size: 40px;
    font-weight: bold;
    font-family: var(--fm1);
    letter-spacing: 1px;
}

.in-page.menu-mod1,.in-page.logo-mod1{
    opacity: 1;
}

.ev-mod1{
    color: var(--modm1);
    font-weight: bold;
}

.tit-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-100px);
    color: var(--modt1);
    font-size: 50px;
    font-family: var(--fm1);
    letter-spacing: 1px;
}

.btn-header-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-100px);
    background-color: var(--modm1);
    color: var(--mods1);
    font-weight: bold;
    font-family: var(--fm1);
    letter-spacing: 1px;
    border: none;
    box-shadow: #7e7a095d 0px 0px 5px 3px;
}

.in-page.tit-mod1,.in-page.btn-header-mod1{
    opacity: 1;
    transform: translateX(0);
}

.sec1-mod1{
    background: var(--mods1);
}

.un-tit-modal1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(100px);
    font-weight: bold;
    color: var(--modbg1);
    font-family: var(--fm1);
    letter-spacing: 1px;
    font-size: 80px;
}

.tit-modal1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    transform: translateY(-100px);
    font-weight: bold;
    color: var(--modt1);
    font-family: var(--fm1);
    letter-spacing: 1px;
    font-size: 70px;
    position: absolute;
    top: 40px;
    right: 225px;
}

.in-page.un-tit-modal1,.in-page.tit-modal1{
    opacity: 1;
    transform: translateY(0);
}

.sec1-img-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
    width: 500px;
    height: 500px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/public/modal1/sec1.jpg);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 20px 5px;
   
}

.in-page.sec1-img-mod1,.in-page.step1-mod1{
    opacity: 1;
    transform: scale(1);
}

.step1-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
    color: var(--modm1);
    font-family: var(--fm1);
    font-size: 200px;
    font-weight: bold;
    position: absolute;
    bottom: -100px;
    right: -340px;
    rotate: -10deg;
    z-index: 90;
    letter-spacing: 4px;
}

.p-mod1{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(-100px);
    font-family: var(--fm1);
    letter-spacing: 1px;
    color: var(--modt1);
    font-size: 20px;
    z-index: 99;
}

.in-page.p-mod1{
    opacity: 1;
    transform: translateY(0);
}

.sec2-mod1{
    background: linear-gradient(10deg, var(--mods1)33%, var(--modbg1)33%, var(--modbg1)48%,var(--modbg1)48%,var(--modbg1)66%,var(--mods1)66%);
}

.activity-mod1{
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/public/modal1/coach.jpg);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
}

.activity1-mod1{
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/public/modal1/coach1.jpg);
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
}

.activity2-mod1{
    width: 800px;
    height: 250px;
    background: linear-gradient(to bottom,transparent,rgba(255, 255, 255, 0.080),transparent,rgba(255, 255, 255, 0.080),transparent),url(/public/modal1/coach2.jpg) no-repeat;
    background-size: cover;
    box-shadow: #7e7a095d 0px 0px 5px 2px;
    border: 1px solid var(--modm1);
    background-position:bottom;
}

.fot-mod1{
    height: 25vh;
    background-color: var(--modm1);
}

.link-mod1{
    list-style-type: none;
    font-family: var(--fm1);
    font-size: 20px;
    font-weight: bold;
}

.social-mod1{
    color: var(--mods1);
    font-size: 30px;
}

.firma-foot-mod1{
    font-family: var(--fm1);
    color: var(--sec);
    letter-spacing: 2px;
}

.anim-mod1{
    perspective: 1000;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: scale(0.5);
}

.in-page.anim-mod1{
    opacity: 1;
    transform: scale(1);
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .logo-mod1{
        margin-top: 5px;
    }
    
    .un-tit-modal1{
        font-size: 70px;
        margin-top: 20px!important;
    }

    .tit-modal1{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 65px;
    }

    .step1-mod1{
        color: var(--modm1);
        font-family: var(--fm1);
        font-size: 150px;
        font-weight: bold;
        position: absolute;
        bottom: -150px;
        right: -250px;
        rotate: -10deg;
        z-index: 90;
        letter-spacing: 4px;
    }

    .activity-mod1{
        margin: 30px;
        width: 300px;
        height: 300px;
    }

    .activity1-mod1{
        margin: 30px;
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }

    .activity2-mod1{
        margin: 30px;
        margin-bottom: 30px;
        width: 660px;
        height: 300px;
    }

    .link-mod1{
        margin: 10px!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
        font-size: 30px;
    }

    .social-mod1{
        font-size: 40px;
    }

    .firma-foot-mod1{
        font-size: 20px;
    }
}

/* mobile */

@media screen and (max-width: 600px){
    
    .logo-mod1{
        margin-top: 9px;
        padding-left: 10px!important;
    }

    .menu-mod1{
        padding-right: 10px!important;
    }

    .tit-mod1{
        font-size: 40px;
    }

    .mobile-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-header-mod1{
        margin: 0!important;
    }

    .tit-modal1{
        top: 50px;
        left: 85px;
    }

    .step1-mod1{
        font-size: 100px;
        bottom: -50px;
        right: 20px;
        rotate: -10deg;
        z-index: 0;
    }
}