.navbar{
    opacity: 0;
    transition: 0.5s;
    height: 15vh;
}

.in-page .navbar{
    opacity: 1;
}

.logo{
    width: 150px;
}

.menu{
    font-size: 50px;
    color: var(--sec);
}

.menu-contain{
    position: absolute;
    top: 0;
    left: 20px;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
}

.in-page.menu-contain{
    opacity: 1;
}

.menu-btn,.menu-btn:focus,.menu-btn:active{
    border: none;
    background: transparent;
}

.menu-canvas{
    margin-top: 65px;
    margin-right: 65px;
    width: 50vw !important;
    height: 80vh;
    background: var(--sec);
}

.logo-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 400px;
}

.in-page.logo-canvas{
    opacity: 1;
}

.btn-close-canvas{
    color: var(--main);
    position: absolute;
    top: 0px;
    right: 10px;
    background:none;
    font-size: 30px;
}

.btn-close-canvas:active,.btn-close-canvas:focus{
    border: none;
    box-shadow: none;
    background: none;
}

.btn-close-canvas:hover{
    color: var(--main);
}

.link-list-item,.link-list-item > a{
    list-style-type: none;
    color: var(--main);
    font-family: var(--fm);
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: none;
}

.foot-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 1s;
    transform: translateX(50px);
}

.in-page.foot-canvas{
    opacity: 1;
    transform: translateX(0);
}

.anim-link-canv{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateX(-50px);
}

.in-page.anim-link-canv{
    opacity: 1;
    transform: translateX(0px);
}

.canvas-title{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-family: var(--fm);
    color: var(--main);
    letter-spacing: 2px;
    font-size: 30px;
}

.in-page.canvas-title{
    opacity: 1;
}

.label{
    font-family: var(--fm);
    letter-spacing: 2px;
    color: var(--main);
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    width: 120px;
    color: var(--main);
}

.input-email{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main);
    width: 250px;
    color: var(--main);
}

.input-email:focus,.input:focus{
    border-bottom: solid 2px var(--main);;
    box-shadow: none!important;
    outline: 0;
}

.submit-btn{
    background: transparent;
    font-family: var(--fm);
    border: solid 2px var(--acc);
    border-radius: 50%;
    color: var(--acc);
    font-size: 20px;
    padding: 2px 6px;
}

.social-canvas{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    font-size: 40px;
    color: var(--main);
}

.in-page.social-canvas{
    opacity: 1;
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 1024px){
    .menu{
        font-size: 50px;
    }

    .navbar{
        height: 10vh;
    }

    .logo{
        width: 200px;
    }

    .menu-contain{
        margin-top: 7px;
        position: absolute;
        top: 0;
        left: 20px;
        position: fixed;
        top: 0;
    }

    .menu-canvas{
        margin-top: 175px;
        margin-right: 65px;
        width: 80vw !important;
        height: 60vh;
        background: var(--sec);
    }

    .logo-canvas{
        margin-top: 25px;
        width: 400px;
    }
}

/* mobile */

@media screen and (max-width: 600px){
    .logo{
        margin-bottom: 8px!important;
        margin-left: 0px;
    }

    .menu-contain{
        left: 0px;
    }

    .menu-canvas{
        margin-top: 60px!important;
        margin-right: 0px!important;
        width: 100% !important;
        height: 100%vh;
    }

    .logo-canvas{
        margin-top: 25px;
        width: 200px;
    }

    .link-list-item,.link-list-item > a{
        font-size: 20px;
    }

    .canvas-title{
        font-size: 25px;
    }
}