
.tit-portfolio{
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
}

.tms-portfolio{
    font-size: 50px;
}

.p-portfolio{
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.btn-modal,.btn-modal:focus{
    background: transparent;
    border: none;
}

.a{
    width: 400px;
    height: 400px;
    background-color: var(--sec);
}

.tm1{
    width: 90%;
    box-shadow: #333333a8 0px 0px 7px 3px;
}


.header-portfolio{
    height: 100vh;
    background: url(/public/media/motivo6.png) no-repeat;
    background-size: cover;
}

.modal-header{
    background: var(--sec);
}

.btn-close-modal,.btn-close-modal:focus{
    color: var(--main)!important;
    background: transparent;
    box-shadow: none;
    font-size: 20px;
}

