.header-who{
    height: 120vh;
    background: url(/public/media/motivo3.png) no-repeat;
    background-size: contain;
    background-position: bottom;
}

.tit-who{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
}

.grassetto{
    color: var(--acc);
    font-weight: bold;
}

.p-who{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
    font-family: var(--fm);
    color: var(--sec);
    letter-spacing: 2px;
    font-size: 20px;
}

.in-page.tit-who,.in-page.p-who{
    opacity: 1;
    transform: translateY(0);
}

.sec-who1{
    background: var(--bg);
}

.prof-who{
    opacity: 0;
    transition: 0.5s;
    transform: scale(0.5);
}

.in-page.prof-who{
    opacity: 1;
    transform: scale(1);
}

/* tablet */

@media screen and (min-width: 600px) and (max-width: 1024px){

    .tit-who{
        margin-top: 50px;
        font-family: var(--fm);
        color: var(--sec);
        letter-spacing: 2px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-who{
        height: 80vh;
        background: url(/public/media/motivo3.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }
}

/* mobile */

@media screen and (max-width: 600px){
    .header-who{
        height: 130vh;
        background: url(/public/media/motivo3.png) no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    .p-who{
        padding: 0!important;
    }
}